<section class="filter">
  <div class="container">
    <div class="row">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="col-lg-2">
          <div class="form-group">
            <p>Filtrar Especies:</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(:search_query, class: 'filterrific-periodically-observed form-control', placeholder: 'Buscar Especie') %>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <%= f.select(:with_statuses_id, @filterrific.select_options[:with_statuses_id],
            { include_blank: "- Seleccione la Categoria-" }, class: 'form-control') %>            
          </div>
        </div>
        <div class="col-lg-3">
          <%= f.select(:with_families_id, @filterrific.select_options[:with_families_id],
            { include_blank: "- Seleccione Familia-" }, class: 'form-control') %>          
        </div>
        <div class="col-lg-1">
          <div class="form-group">
            <%= link_to('Limpiar',reset_filterrific_url, class: 'btn btn-info') %>
          </div>
        </div>
        <%# add an automated spinner to your form when the list is refreshed %>
        <%= render_filterrific_spinner %>
      <% end %>
    </div>
  </div>
</section>
<%= render(partial: 'species/list', locals: { species: @species }) %>