<section class="landing">
	<div class="overlay">
		<div class="container">
			<article class="info-main">
				<h1><%= image_tag 'logo.png' %></h1>
				<p>Ayudemos a los animales en peligro de extinción</p>
				<hr class="divisor">
				<div class="form">
					<% @country = Geocoder::search(@client_ip).first.country %>
					<%= form_for Lead.new, :remote => true do |f| %>
						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<div class="outline-submit">
						<%= f.email_field :email, placeholder:'Suscribirse' %>
						<%= f.hidden_field :device, :value => request.env['mobvious.device_type'] %>
						<%= f.hidden_field :country, :value => @country %>
						<%= f.button 'OK', {class: 'button-submit'} %>	
						<p id="response"></p>		
						</div>
					<% end %>
				</div>
				<div class="buttons">
				<%= link_to "Ver lista de animales", species_index_path(), class: "button-main fill" %>
					<a href="#hth" class="button-main empty">¿Cómo ayudar?</a>
				</div>
			</article>
			<div class="down">
				<%= image_tag('scroll.gif') %>
		</div>
	</div>	
</section>
<section class="about">
	<div class="container">
		<h2>Acerca</h2>
		<hr class="divisor">
		<p>Somos una comunidad protectora de animales que busca ayudar a las especies que se encuentran en peligro de extinción en Perú, nuestro principal objetivo es ser una herramienta para facilitar a las organizaciones que estan interesados por la protección de los animales y así poder rescatar y aumentar las especies que están a punto de desaparecer.</p>
	</div>
</section>
<section class="video">
	<div class="overlay">
		<div class="container">
			<article class="play-video">
				<a href="" class="icon play-ico">Play Video</a>
			</article>
		</div>
	</div>	
</section>
<section class="categories">
	<div class="container">
		<h2>Categorias y Ubicacón</h2>
		<hr class="divisor">
		<div class="row">
			<div class="col-lg-4 column-4">
				<ul>
				<% if @statuses.empty? %>
					<p>No hay se encontraron categorias</p>
				<% else %>
					<% @statuses.each do |status| %>
					<li>
						<div class="circle ep">
							<p><%= status.prefix %></p>
						</div>
						<h3><%= status.name %></h3>
					</li>
					<% end %>					
				<% end %>
				</ul>				
			</div>
			<div class="col-lg-8 column-8">
				<div class="map">
					<%= image_tag '/assets/images/map.png' %>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="how-to-help" id="hth">
	<div class="overlay">
		<div class="container">
			<h2>¿Cómo Ayudar?</h2>
			<hr class="divisor">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 column-3">
					<i class="icon volunteer-ico"></i>
					<h3>Voluntario</h3>
					<p>Gracias por su interés en ser voluntario! las especies en peligro de extinción necesitan ayuda todos los días del año.</p>
					<%= link_to "Dona tu tiempo!", "sign_in",class: 'button-main fill' %>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 column-3">
					<i class="icon donate-ico"></i>
					<h3>Patrocina</h3>
					<p>Apoya a los proyectos o eventos, formemos un equilibro ecológico para el bienestar de todos.</p>
					<a href="" class="button-main fill">Ayuda hoy!</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 column-3">
					<i class="icon partner-ico"></i>
					<h3>Institución</h3>
					<p>Registra tu ONG, crea un proyecto para ayudar a una especie en extinción o crea eventos.</p>
					<a href="" class="button-main fill">Suma tu ONG!</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 column-3">
					<i class="icon collaborator-ico"></i>
					<h3>Colaborador</h3>
					<p>Nuestra lista no está 100% completa, ¿conoces alguna especie en peligro que no está en la lista? Añádelo tú mismo!</p>
					<a href="" class="button-main fill">Agrega Animales</a>
				</div>
			</div>
		</div>
	</div>	
</section>
<section class="last-projects">
	<div class="container">
		<h2>Proyectos Recientes</h2>
		<hr class="divisor">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 column-3">
				<div class="project">
					<figure>
						<%= image_tag '/assets/images/condor.jpg' %>
						<figcaption>
							Completado
						</figcaption>
					</figure>
					<div class="project-detail">
						<div class="head-project">
							<h3><a href="" class="blue">Salvemos al condor Peruano</a></h3>
						</div>						
						<div class="progress-bar"></div>
						<div class="target">
							<div class="col-lg-3 col-md-3 col-sm-3 column-3">
								<p class="big">60%</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 column-4">
								<p>13</p>
								<p class="small">Patrocinan</p>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 column-5">
								<p><span class="small-t">S/.</span> 600</p>
								<p class="small">meta</p>
							</div>
						</div>
						<div class="share">
							<p>Compartir en:</p>
							<a href="" class="square icon facebook-ico" title="Compartir en Facebook"></a>
							<a href="" class="square icon twitter-ico" title="Compartir en Twitter"></a>
							<a href="" class="square icon google-ico" title="Compartir en Google +"></a>
						</div>
						<div class="by-user">
							<span>POR <a href="">YORESCATO</a></span>							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 column-3">
				<div class="project">
					<figure>
						<%= image_tag '/assets/images/condor.jpg' %>
						<figcaption>
							Completado
						</figcaption>
					</figure>
					<div class="project-detail">
						<div class="head-project">
							<h3><a href="" class="blue">Salvemos al condor Peruano</a></h3>
						</div>						
						<div class="progress-bar"></div>
						<div class="target">
							<div class="col-lg-3 col-md-3 col-sm-3 column-3">
								<p class="big">60%</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 column-4">
								<p>13</p>
								<p class="small">Patrocinan</p>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 column-5">
								<p><span class="small-t">S/.</span> 600</p>
								<p class="small">meta</p>
							</div>
						</div>
						<div class="share">
							<p>Compartir en:</p>
							<a href="" class="square icon facebook-ico" title="Compartir en Facebook"></a>
							<a href="" class="square icon twitter-ico" title="Compartir en Twitter"></a>
							<a href="" class="square icon google-ico" title="Compartir en Google +"></a>
						</div>
						<div class="by-user">
							<span>POR <a href="">YORESCATO</a></span>							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 column-3">
				<div class="project">
					<figure>
						<%= image_tag '/assets/images/condor.jpg' %>
						<figcaption>
							Completado
						</figcaption>
					</figure>
					<div class="project-detail">
						<div class="head-project">
							<h3><a href="" class="blue">Salvemos al condor Peruano</a></h3>
						</div>						
						<div class="progress-bar"></div>
						<div class="target">
							<div class="col-lg-3 col-md-3 col-sm-3 column-3">
								<p class="big">60%</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 column-4">
								<p>13</p>
								<p class="small">Patrocinan</p>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 column-5">
								<p><span class="small-t">S/.</span> 600</p>
								<p class="small">meta</p>
							</div>
						</div>
						<div class="share">
							<p>Compartir en:</p>
							<a href="" class="square icon facebook-ico" title="Compartir en Facebook"></a>
							<a href="" class="square icon twitter-ico" title="Compartir en Twitter"></a>
							<a href="" class="square icon google-ico" title="Compartir en Google +"></a>
						</div>
						<div class="by-user">
							<span>POR <a href="">YORESCATO</a></span>							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 column-3">
				<div class="project">
					<figure>
						<%= image_tag '/assets/images/condor.jpg' %>
						<figcaption>
							Completado
						</figcaption>
					</figure>
					<div class="project-detail">
						<div class="head-project">
							<h3><a href="" class="blue">Salvemos al condor Peruano</a></h3>
						</div>						
						<div class="progress-bar"></div>
						<div class="target">
							<div class="col-lg-3 col-md-3 col-sm-3 column-3">
								<p class="big">60%</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 column-4">
								<p>13</p>
								<p class="small">Patrocinan</p>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 column-5">
								<p><span class="small-t">S/.</span> 600</p>
								<p class="small">meta</p>
							</div>
						</div>
						<div class="share">
							<p>Compartir en:</p>
							<a href="" class="square icon facebook-ico" title="Compartir en Facebook"></a>
							<a href="" class="square icon twitter-ico" title="Compartir en Twitter"></a>
							<a href="" class="square icon google-ico" title="Compartir en Google +"></a>
						</div>
						<div class="by-user">
							<span>POR <a href="">YORESCATO</a></span>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
